[Desktop Entry]
Name=espansoGUI
Comment=GUI frontend for espanso
Type=Application
Keywords=expand;replace;text
Categories=Utility
Exec=espanso-gui
Icon=io.unobserved.espansoGUI
Terminal=false
